<body>
<div class="container">
    <div class="box">
        <h4>Sobre nós</h4><br>

        <p>
            The Hambuguer | Trabalho 2 de Programação 3 com Angular
        </p>
        
        <p>
            Somos uma Hambugueria ficticia, criada para conseguir nota no trabalho 2 da materia de Prog 3.
            Foi utilizado Angular 8 e material design. Utiliziamos o Visual Studio para desenvolver.
        </p><br>

        <p>
            Desenvolvedores:<br>
            Gabriel Boeing<br>
            William Testoni
        </p>
    </div>
</div>
</body>